body{
	background-image: url("../asset/bg.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.dropdownbutton{
	position: absolute;
	top: 20px;
	right: 12px;
	height: 10px;
	width: 20px;
	cursor: pointer;
	transform: scale(0.8);
	transition: all 0.5s;
	z-index: 5;
}

.dropdownbutton img{
	height: 100%;
	width: auto;
}

.dropdownbutton:hover{
	transform: scale(1);
}

.dropdownbox{
	height: 60px;
	width: 100px;
	position: absolute;
	background-color: white;
	top: 10px;
	right: 5px;
	border-radius: 10px;
	box-shadow: 0pt 4pt 8pt 0pt rgba(0,0,0,0.2);
	top: -130px;
	z-index: 4;
}

.buttonstate{
	height: 100%;
	width: 100%;
	background-image: url("../asset/arrowdown.png");
	background-size: 100% 100%;
}

.dropdownboxtransform, .down{  
  transition: all 0.5s ease;
}

.up{
	transform: rotate(180deg);
	background-image: url("../asset/arrowup.png");
}

.dropdownboxtransformactive{
	top: 10px;
}

.dropdownbox table{
	width: 100%;
	height: auto;
}

.dropdownbox button{
	background-color: transparent;
	outline: none;
	border:none;
}

.dropdownbox button:hover{
	animation-name: scaling;
	animation-duration: 0.5s;
}

.dropdownbox table img{
	height: 30px;
	width: auto;
}

.dropdownbox table td{
	text-align: center;
	font-weight: bold;
	font-size: 10px;
	font-family: "Gotham";
}

@keyframes scaling{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(0.9);
	}
	100%{
		transform: scale(1);
	}
}

.header{
	height: 150px;
	width: calc(100% - 40px);
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}

.header table{
	width: 100%;
	height: 100%;
}
.header td{
	font-size: 40px;
	font-family: "Abel";
	color: white;
	text-align: center;
	vertical-align: middle;
	padding: 10px;
}

.header .logo{
	height: 100%;
	width: 10%;
}

.header .logo img{
	height: 100px;
	width: auto;
}

.header .title{
	height: 100%;
	width: 65%;
	text-align: left;
}

.divdatetime{
	height: 140px;
	width: 140px;
	background-color: white;
	box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.2);
	border-radius: 10px;
	float: left;
	z-index: 1;
}

.divdatetimeimg{
	width: 100%;
	height: 75%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.divdatetimeimg img{
	width: 60px;
	height: auto;
}

.divdaydatetime{
	width: 100%;
	height: 25%;
}

#CurrentDay{
	font-family: "Gotham";
	font-size: 14px;
	font-weight: bold;
	color: rgb(92, 164, 247);
}

#CurrentDate, #CurrentTime{
	font-family: "Gotham";
	font-size: 10px;
	font-weight: normal;
	color: black;"
}

.divterminal{
	height: 120px;
	width: 120px;
	margin-top: 10px;
	border-radius: 0px 0px 10px 0px;
	z-index: 0;
	overflow: hidden;
}

.terminalname{
	height: 70%;
	width: 100%;
	color: rgb(92, 164, 247);
	background-color: white;
	font-family: "Gotham";
	font-weight: bold;
	font-size: 52px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.employeename{
	height: 30%;
	width: 100%;
	background-color: rgb(92, 164, 247);
	color: white;
	font-family: "Gotham";
	font-weight: normal;
	font-size: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content{
	width: calc(100% - 40px);
	height: calc(100% - 170px);
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content table{
	width: 100%;
}

.content td{
	text-align: center;
	vertical-align: middle;
	padding: 10px;
	color: white;
	font-family: "Gotham";
	font-size: 14px;
}

.activequeue{
	width: 40%;
}

.queuehistory{
	width: 60%;
}

.callingqueue{
	height: 250px;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
}

.callingqueuedesc{
	height: 30%;
	width: 100%;
	background-color: rgb(92, 164, 247);
	color: white;
	font-family: "Gotham";
	font-size: 1.5vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.callingqueuenumber{
	height: 70%;
	width: 100%;
	color: rgb(92, 164, 247);
	background-color: white;
	font-family: "Gotham";
	font-size: 6vw;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0px 0px 10px 10px;
}

.othercallingqueue{
	height: 150px;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
}

.othercallingqueuedesc{
	height: 40%;
	width: 100%;
	background-color: rgb(92, 164, 247);
	color: white;
	font-family: "Gotham";
	font-size: 1.2vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.othercallingqueuenumber{
	height: 60%;
	width: 100%;
	color: rgb(92, 164, 247);
	background-color: white;
	font-family: "Gotham";
	font-size: 5vw;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0px 0px 10px 10px;
}

.tablequeue{
	height: 120px;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
}

.tablequeuedesc{
	height: 40%;
	width: 100%;
	background-color: rgb(92, 164, 247);
	color: white;
	font-family: "Gotham";
	font-size: 1.2vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tablequeuenumber{
	height: 60%;
	width: 100%;
	color: rgb(92, 164, 247);
	background-color: white;
	font-family: "Gotham";
	font-size: 2vw;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0px 0px 10px 10px;
}

.tablequeuenumber select{
	height: 100%;
	width: 100%;
	text-align-last: center;
	border:none;
	outline: none;
}

.informationqueue{
	height: 120px;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
}

.informationqueuedesc{
	height: 40%;
	width: 100%;
	background-color: rgb(92, 164, 247);
	color: white;
	font-family: "Gotham";
	font-size: 1.2vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.informationqueuecontent{
	height: 60%;
	width: 100%;
	color: rgb(92, 164, 247);
	background-color: white;
	font-family: "Gotham";
	font-size: 3vw;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0px 0px 10px 10px;
}

.informationqueuecontent th{
	text-align: center;
	vertical-align: middle;
	font-weight: normal;
	font-size: 1vw;
	color: rgb(92, 164, 247);
	padding: 0px;
}

.informationqueuecontent td{
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-size: 1vw;
	color: rgb(92, 164, 247);
	padding: 0px;
}


.callingbutton{
	height: 50px;
	width: 100%;
	background-color:rgb(92, 164, 247);
	color: white;
	font-family: "Gotham";
	font-size: 1.2vw;
	display: flex;
	justify-content: center;
	align-items: center; 
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.5s ease;
	outline: none;
	border:none;
}

.nextbutton{
	height: 50px;
	width: 100%;
	background-color:rgb(92, 164, 247);
	color: white;
	font-family: "Gotham";
	font-size: 1.2vw;
	display: flex;
	justify-content: center;
	align-items: center; 
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.5s ease;
	outline: none;
	border:none;
}

.callingbutton:hover{
	background-color: rgb(241, 173, 15);
}

.nextbutton:hover{
	background-color: rgb(241, 173, 15);
}

.content .remainingqueue{
	text-align: right;
}

.remainingqueue img{
	height: 40px;
	width: auto;
}

.callinghistory{
	height: 320px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
	overflow: auto;
}

.callinghistory table{
	width: 100%;
	height: auto;
}

.callinghistory th{
	text-align: center;
	vertical-align: middle;
	color: rgb(92, 164, 247);
	height: 60px;
	width: 100%;
	background-color: rgb(232, 243, 255); 
}

.callinghistory td{
	text-align: left;
	vertical-align: middle;
	color: rgb(92, 164, 247);
}

.callinghistory img{
	height: 3%;
	width: auto;
}

.callinghistory tr:hover{
	background-color: rgb(92, 164, 247);
	cursor: pointer;
}

.callinghistory tr:hover td{
	color: white;
}

.callinghistory button{
	height: 100%;
	width: 100%;
	outline: none;
	border:none;
	background-color: inherit;
}

.othercallinghistory{
	height: 360px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
	overflow: auto;
}

.othercallinghistory table{
	width: 100%;
	height: auto;
}

.othercallinghistory th{
	text-align: center;
	vertical-align: middle;
	color: rgb(92, 164, 247);
	height: 60px;
	width: 100%;
	background-color: rgb(232, 243, 255); 
}

.othercallinghistory td{
	text-align: left;
	vertical-align: middle;
	color: rgb(92, 164, 247);
}

.othercallinghistory img{
	height: 3%;
	width: auto;
}

.othercallinghistory tr:hover{
	background-color: rgb(92, 164, 247);
	cursor: pointer;
}

.othercallinghistory tr:hover td{
	color: white;
}

.othercallinghistory button{
	height: 100%;
	width: 100%;
	outline: none;
	border:none;
	background-color: inherit;
}

.audiodiv{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.audiotable{
	height: 80%;
	width: 100%;
}


.audiotable th{
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 36px;
	font-family: "Abel";
}

.audiotable td{
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: "Segoe UI";
}

.audiotable img{
	height: 100px;
	width: auto;
}